@model PagedList<Shopping.ManageSystem.Model.ProductCategory>
@using Webdiyer.WebControls.Mvc;

<script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="/Scripts/MvcPager.min.js"></script>
<!----表格开始  Start-->
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>产品分类名称</th>
            <th>分类码</th>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.CategoryCode</td>
                <td>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil">编辑</span>
                    </button>
                    <button type="button" class="btn btn-default" onclick="fun_categoryDel(@item.CategoryID)">
                        <span class="glyphicon glyphicon-remove">删除</span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!----表格结束  End-->
<!----分页 Start-->
<div class="text-center">
    @Ajax.Pager(Model, new PagerOptions
        {
            /*
             * 设置分页显示的样式
             */
            ActionName = "CategoryIndex",                 //分页方法名
            FirstPageText = "首页",
            LastPageText = "最后一页",
            NextPageText = "下一页",
            PrevPageText = "上一页",
            PageIndexParameterName = "pageIndex", //跟控制器的第一个参数要一致
            ContainerTagName = "ul",
            CssClass = "pagination",
            CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
            DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
            PagerItemTemplate = "<li>{0}</li>",
            GoToButtonId = "goBtn1",
            PageIndexBoxId = "pageBox1",
            PageIndexOutOfRangeErrorMessage = "您输入的页码超出范围!"

        },

        new MvcAjaxOptions
        {
            HttpMethod = "get",
            UpdateTargetId = "categoryShow",//更新数据的标签ID
            DataFormId = "form0"    //分页对应的条件搜索表单ID,
        })

    <span style="display:inline-block;  position:relative;top:-30px;">
        共 @Model.TotalPageCount 页 @Model.TotalItemCount 条记录，当前为第 @Model.CurrentPageIndex 页,
        跳转到第<input type="text" id="pageBox1" style="width:30px" />页<button id="goBtn1">跳转</button>
    </span>
</div>
<!----分页 End-->
